#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#code-input {
  resize: both;
  font-family: "Consolas";
  font-size: 15px;
  width: 800px;
  height: 400px;
  overflow-x: auto;
  overflow-y: auto;
}

#logout-button {
  background-color: rgb(187, 0, 0);
  color: white;
  will-change: background-color, border-color;
  transition: border-color 0.25s, background-color 0.25s;
}
#logout-button:hover {
  background-color: red;
  border-color: black;
}

#code-submit {
  will-change: background-color, border-color, color;
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
}
#code-submit:hover {
  background-color: green;
  color: white;
  border-color: black;
}
